/*body{background-color: #e9edee;}*/


.status-detail{border-color: #e6e6e6;border-bottom-width: 1px;border-bottom-style: solid;}

.status:hover .status-op{display: block;}
.ori-status:hover .ori-status-op{display: block;}